@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';
@import 'react-toastify/dist/ReactToastify.css';

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.Toastify__toast-container {
  z-index: 9999 !important;
}